@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html,
  body {
    @apply bg-slate-950 text-slate-100;
  }

  @font-face {
    font-family: "morvarid";
    src: url('/fonts/morvarid/Far_Morvarid.ttf');
  }

  @font-face {
    font-family: "iranYekan";
    src: url('/fonts/iran-yekan/IRANYekanXVFaNumVF.woff2');
  }

  @font-face {
    font-family: "vazir-normal";
    src: url('/fonts/vazir/Vazirmatn-Medium.ttf');
  }

  @font-face {
    font-family: "shabnam-normal";
    src: url('/fonts/shabnam/font_normal.ttf');
  }

  * {
    font-family: 'iranyekan', "vazir-normal", 'shabnam-normal', "vazir-medium", "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  ::-webkit-scrollbar {
    @apply w-0.5 sm:w-1 md:w-2
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-800
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-600 rounded-sm
  }

  ::-moz-scrollbar {
    @apply w-0.5 sm:w-1 md:w-2
  }

  ::-moz-scrollbar-track {
    @apply bg-slate-800
  }

  ::-moz-scrollbar-thumb {
    @apply bg-slate-600 rounded-sm
  }

  /* Custom styles for range input */
  input[type="range"] {
    @apply h-2 bg-rose-400 hover:bg-rose-500 transition-all rounded-md opacity-90 hover:opacity-100 outline-none;
    -webkit-appearance: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply bg-slate-400 hover:bg-slate-500 border-1 border-solid border-rose-700 size-5 rounded-full cursor-pointer transition-all;
    -webkit-appearance: none;
  }

  input[type="range"]::-moz-range-thumb {
    @apply bg-slate-400 hover:bg-slate-500 border-1 border-solid border-rose-700 size-5 rounded-full cursor-pointer transition-all;
  }
}

@layer components {
  .fontMorvarid {
    font-family: "morvarid", 'shabnam-normal', 'iranYekan-normal', "vazir-normal", "vazir-medium", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .fontVazir {
    font-family: "vazir-normal", "vazir-medium", 'shabnam-normal', 'iranYekan-normal', "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .fontIranYekan {
    font-family: "iranYekan", "vazir-normal", "vazir-medium", "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .fontShabnam {
    font-family: "shabnam-normal", 'iranYekan-normal', "vazir-normal", "vazir-medium", "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .sideBar__item {
    @apply w-full flex items-center justify-start gap-3 sm:gap-4 cursor-pointer rounded-lg hover:scale-[101%] active:scale-[99%] transition-all duration-150;
  }

  .sideBar__item:hover {
    box-shadow: 2px 2px 10px 1px #f43f5e;
    background: linear-gradient(0deg, #f857a6 0%, #ff5858 100%);
  }

  .sideBar__singer__item {
    @apply w-full flex items-center justify-start gap-3 sm:gap-4 cursor-pointer rounded-lg hover:scale-[101%] active:scale-[99%] transition-all duration-150;
  }

  .sideBar__singer__item:hover {
    box-shadow: 2px 2px 10px 1px #b22d7c;
    background: linear-gradient(0deg, #efaade 0%, #b22d7c 100%);
  }

  .sideBar__item__items {
    @apply text-sm sm:text-base transition-all duration-150 group-hover:text-rose-100 line-clamp-1;
  }

  .trend-slider {
    .swiper-pagination {
      top: 35% !important;
      right: 22px !important;
      display: flex;
      flex-direction: column;
      gap: 15px;

      @media screen and (min-width: 640px) {
        right: 40px !important;
      }

      .swiper-pagination-bullet {
        width: 5.5px !important;
        height: 5.5px !important;
        opacity: 1 !important;
        margin: 0 !important;
        background-color: rgba(white, 80%);
        transition: var(--transition);
      }

      .swiper-pagination-bullet-active {
        background-color: rgba(white, 30%);
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      bottom: auto !important;
      left: auto !important;
      right: 2px !important;
      width: 45px;
      height: 45px;
      padding: 10px;
      border-radius: 50%;
      background-color: var(--card-background-2);
      color: var(--text-color);

      @media screen and (min-width: 640px) {
        right: 20px !important;
      }

      &:after {
        display: block;
        font-size: 16px;
        transform: rotate(90deg);
      }
    }

    .swiper-button-next {
      top: 60%;
    }

    .swiper-button-prev {
      top: 72%;
    }
  }

  .icon-music {
    @apply text-xl hover:text-rose-500 hover:scale-125 active:scale-90 cursor-pointer transition-all duration-200;
  }
}