@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html,
  body {
    @apply bg-slate-950 text-slate-100;
  }

  @font-face {
    font-family: "morvarid";
    src: url('/fonts/morvarid/Far_Morvarid.ttf');
  }

  @font-face {
    font-family: "iranYekan";
    src: url('/fonts/iran-yekan/IRANYekanXVFaNumVF.woff2');
  }

  @font-face {
    font-family: "vazir-normal";
    src: url('/fonts/vazir/Vazirmatn-Medium.ttf');
  }

  @font-face {
    font-family: "shabnam-normal";
    src: url('/fonts/shabnam/font_normal.ttf');
  }

  * {
    font-family: 'iranyekan', "vazir-normal", 'shabnam-normal', "vazir-medium", "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  ::-webkit-scrollbar {
    @apply w-0.5 sm:w-1 md:w-2
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-800
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-600 rounded-sm
  }

  ::-moz-scrollbar {
    @apply w-0.5 sm:w-1 md:w-2
  }

  ::-moz-scrollbar-track {
    @apply bg-slate-800
  }

  ::-moz-scrollbar-thumb {
    @apply bg-slate-600 rounded-sm
  }
}

@layer components {
  .fontMorvarid {
    font-family: "morvarid", 'shabnam-normal', 'iranYekan-normal', "vazir-normal", "vazir-medium", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .fontVazir {
    font-family: "vazir-normal", "vazir-medium", 'shabnam-normal', 'iranYekan-normal', "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .fontIranYekan {
    font-family: "iranYekan", "vazir-normal", "vazir-medium", "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .fontShabnam {
    font-family: "shabnam-normal", 'iranYekan-normal', "vazir-normal", "vazir-medium", "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .sideBar__item {
    @apply w-full flex items-center justify-start gap-3 sm:gap-4 cursor-pointer rounded-lg hover:scale-[101%] active:scale-[99%] transition-all duration-150;
  }

  .sideBar__item:hover {
    box-shadow: 4px 4px 10px 1px #f43f5e;
    background: linear-gradient(0deg, #f857a6 0%, #ff5858 100%);
  }

  .sideBar__item__items {
    @apply text-sm sm:text-base transition-all duration-150 group-hover:text-rose-100;
  }
}